
/* xero-main-slider-wrap */
.xero-main-slider-wrap {
	position: relative;
	width: 100vw;
    left: 50%;
    margin-left: -50vw;
	margin-bottom: 80px;
}

.xero-main-slider-wrap .slider-item {
	display: block;
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	text-decoration: none;
}

.xero-main-slider-wrap .slider-item:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
	z-index:1;
}

.xero-main-slider-wrap .inner-main {
	position: relative;
	height: 100%;
}

.xero-main-slider-wrap .slider-item .text_slide {
	position: absolute;
	left: 20px;
	bottom: 80px;
	width: 55%;
	z-index: 2;
}

.xero-main-slider-wrap .title {
	font-size: 48px;
}

.xero-main-slider-wrap .text {
	font-size: 18px;
	line-height: 24px;
}

.xero-main-slider-wrap .slick-arrow {
	position:absolute;
	top: 50%;
	width: 48px;
	height: 48px;
	margin-top: -24px;
	padding: 0;
	background: none;
	border: none;
	font-size: 48px;
	color: rgba(255, 255, 255, 0.5);
	z-index: 3;
	outline: 0;
}

.xero-main-slider-wrap .slick-arrow:hover {
	color: rgba(255, 255, 255, 1);
}

.xero-main-slider-wrap .slick-prev {
	left: 24px;
}

.xero-main-slider-wrap .slick-next {
	right: 24px;
}

.xero-main-slider-wrap .slick-dots {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 24px;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.xero-main-slider-wrap .slick-dots li {
	
}

.xero-main-slider-wrap .slick-dots button {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    padding: 0;
	border: none;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    outline: none;
	font-size: 0;
}

.xero-main-slider-wrap .slick-active button {
	border: 2px solid #fff;
	background: none;
}
