.section-recommend {
  position: relative;
  width: 1140px;
  margin: 0 auto 48px auto;
  padding: 40px 24px 0 24px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
}

.title-recommend {
  margin: 0 0 32px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
  text-align:center;
}

.recommend-slider .slick-list {
  position: relative;
  max-width: 888px;
  margin: 0 auto;
}

.recommend-slider .slider-item {
  position: relative;
  display: block;
  width: 100%;

  margin: 0 auto;
  background-size: cover;
  background-position: 50% 50%;
  text-decoration: none;
}

.recommend-slider .thumbnail {
  display: block;
  height: 500px;
}

.recommend-slider .slider-item .text_slide {
  width: 100%;
  margin-top: 32px;
  z-index: 2;
}

.recommend-slider .title {
  display: block;
  margin-bottom: 16px;
  font-size: 36px;
  color: #000;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommend-slider .text {
  height: 42px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, .6);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recommend-slider .slick-arrow {
  position:absolute;
  top: 226px;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  padding: 0;
  background: none;
  border: none;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.38);
  z-index: 3;
  outline: 0;
}

.recommend-slider .slick-arrow:hover {
  color: rgba(0, 0, 0, 1);
}

.recommend-slider .slick-prev {
  left: 0;
}

.recommend-slider .slick-next {
  right: 0;
}

.recommend-slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 458px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommend-slider .slick-dots button {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  outline: none;
  font-size: 0;
}

.recommend-slider .slick-active button {
  border: 2px solid #fff;
  background: none;
}
