/* 관리페이지 공용 스타일 */

/* common */
@media (min-width: 1068px) {
}

/* table */
.xero-settings .table-scrollable {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.xero-settings .table th,
.xero-settings .table .nowrap {
  width: 1em;
  white-space: nowrap;
}
.xero-settings .table .full {
  width: 100%;
  min-width: 300px;
}
.xero-settings .table tbody th {
  background-color: #eee;
}

/* 폼 버튼 area */
.xero-settings-control-float {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 20px;
  width: 100%;
  text-align: right;
  border-top: 1px solid #ddd;
  background: #fff;
}
.xero-settings .snb-list,
.xero-settings .footer {
  padding-bottom: 100px;
}

/* panel */
.xero-settings .panel-heading,
.xero-settings .panel-footer {
  padding: 18px 24px;
}
.xero-settings .panel-body,
.xero-settings .panel-collapse {
  padding-top: 30px;
}
.xero-settings .panel-toggle {
  float: right;
}


/* color picker */
.xero-settings .cp-default .picker,
.xero-settings .cp-default .slide {
  cursor: crosshair;
}
.xero-settings .cp-default .slide {
  width: 20px;
}


/* 주문 목록 */
#orderList thead tr th {
  text-align: center;
  padding:8px 5px;
  background: #ddd
}

/* 주문 요약 카드 (.panel 조합) */
.xero-summary-card {

}
.xero-summary-card .panel {
  border-top: 2px solid #c1c4c5;
}
.xero-summary-card small {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  color: #777;
}
.xero-summary-card h4 {
  margin-bottom: 4px;
  font-size: 23px;
}
.xero-summary-card strong {
  font-size: 23px;
}
.xero-summary-card h4 + small {
  margin-top: 10px;
}

/* form */
.xero-settings .form-group .form-control + .form-control {
  margin-top: 10px;
}
