.title-label {
  margin: 0 0 24px 0;
	font-size: 22px;
	font-weight: 600;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.87);
	text-align:center;
}

.list-tab-rank {
	display: flex;
	justify-content: center;
	
	margin-bottom: 32px;
}

.list-tab-rank .item-tab-rank {
	position: relative;
	margin-right: 38px;
}

.list-tab-rank .item-tab-rank:last-child {
	margin-right: 0;
}

.list-tab-rank .item-tab-rank:after {
	content: '/';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 4px;
	right: -27px;
}

.list-tab-rank .item-tab-rank:last-child:after {
	content: '';
}

.list-tab-rank .link-tab-rank {
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.list-tab-rank .active a {
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
}

.list-rank {
	display: flex;
	flex-wrap: wrap;
	
	margin: 0 -12px;
}

.list-rank .item-rank {
	width: 33.3%;
}

.list-rank .link-rank {
	display: block;
	width: 100%;
	padding: 0 12px;
	text-decoration: none;
	opacity: 1;
}

.list-rank .link-rank:hover .thumbnail-rank {
	opacity: .8;
}

.list-rank .thumbnail-rank {
    position: relative;
	margin-bottom: 16px;
	padding-top: 100%;
	background-size: cover;
	background-position: 50% 50%;
	transition: opacity .2s ease-out;
}

.list-rank .tab-list-number {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 38px solid rgba(51, 51, 51, 0.8);
    border-top-color: transparent;
    border-left-color: transparent;
    font-size: 30px;
    color: #fff;
    text-indent: 7px;
}

.list-rank .title-rank {
	display: block;
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.6);
}

.list-rank .price {
	font-size: 22px;
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
}

.list-rank .sale {
	padding-right: 16px;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	color: rgba(0, 0, 0, .38);
	text-decoration: line-through;
}
















